<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pixelmedia"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Extranet</name>

  <description>
      Prueba
  </description>

  <author href="https://www.pixelmedia.com.pa" email="webmaster@pixelmedia.com.pa">
      Pixel Media Publicidad
  </author>
  <preference name="android-minSdkVersion" value="16" />
  <preference name="android-maxSdkVersion" value="27" />
  <preference name="android-targetSdkVersion" value="27" />
  <preference name="phonegap-version" value="cli-8.0.0" />
  <plugin name="cordova-plugin-appversion" spec="~1" source="npm" />
  <plugin name="cordova-plugin-crosswalk-webview" spec="~2" source="npm" />
  <plugin name="cordova-plugin-network-information" spec="~2" source="npm" />
  <plugin name="cordova-plugin-whitelist" spec="~1" source="npm" />
</widget>